In [1]:
# Here I'm keeping the data without too much processing, for future projects
# Getting the data from the API and saving it in a file

# The data is in JSON format

# Moving data from one folder to another
# Getting information on the data

In [1]:
# Getting data from internet
import pandas as pd
import requests
import json
import time
# Move path to another folder
import os
import shutil
import import_ipynb
import matplotlib.pyplot as plt
%run 'functions.ipynb'

In [2]:
'''
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kaanxtr/btc-price-1m")

print("Path to dataset files:", path)

## Takes about 9m 20s to upload
'''

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.6)
Downloading from https://www.kaggle.com/api/v1/datasets/download/kaanxtr/btc-price-1m?dataset_version_number=26...

100%|██████████| 4.22G/4.22G [08:47<00:00, 8.60MB/s]

Extracting files...

Path to dataset files: /Users/jeanstibel/.cache/kagglehub/datasets/kaanxtr/btc-price-1m/versions/26

In [3]:
'''
# Define the source path and the destination path
source_path = '/Users/jeanstibel/.cache/kagglehub/datasets/kaanxtr/btc-price-1m/versions/26'
destination_path = '/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01'

# Check if the destination path exists and remove it if it does
if os.path.exists(destination_path):
	shutil.rmtree(destination_path)

# Check if the source path exists before moving
if os.path.exists(source_path):
	shutil.move(source_path, destination_path)
else:
	print(f"Source path does not exist: {source_path}")
'''

# Get data from folder and add column crypto_id

In [2]:
# Check if the file exists before loading the data
dataAAVEUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/AAVEUSDT/AAVEUSDT.csv')
dataAAVEUSDT.head()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2020-10-15 03:00:00,51.430,59.000,50.666,55.607,1369.481,2020-10-15 03:00:59.999,75607.779013,361,898.434,50012.700480,0
1,2020-10-15 03:01:00,55.603,55.623,52.000,52.845,1120.278,2020-10-15 03:01:59.999,59696.689968,178,658.949,35330.288555,0
2,2020-10-15 03:02:00,52.845,52.846,51.283,51.999,466.672,2020-10-15 03:02:59.999,24288.122840,94,185.675,9659.760008,0
3,2020-10-15 03:03:00,51.999,52.000,50.665,51.736,205.109,2020-10-15 03:03:59.999,10594.203061,68,78.099,4043.744534,0
4,2020-10-15 03:04:00,51.742,51.776,51.500,51.632,310.324,2020-10-15 03:04:59.999,16011.251406,44,174.396,9004.233218,0

In [3]:
# Load the data
dataAAVEUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/AAVEUSDT/AAVEUSDT.csv')
dataADAUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/ADAUSDT/ADAUSDT.csv')
dataALGOUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/ALGOUSDT/ALGOUSDT.csv')
dataATOMUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/ATOMUSDT/ATOMUSDT.csv')
datAVAXUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/AVAXUSDT/AVAXUSDT.csv')
dataBATUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/BATUSDT/BATUSDT.csv')
dataBNBUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/BNBUSDT/BNBUSDT.csv')
dataBTCUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/BTCUSDT/BTCUSDT.csv')
dataBCHUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/BCHUSDT/BCHUSDT.csv')
dataCAKEUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/CAKEUSDT/CAKEUSDT.csv')
dataCHZUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/CHZUSDT/CHZUSDT.csv')
dataCRVUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/CRVUSDT/CRVUSDT.csv')
dataDASHUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/DASHUSDT/DASHUSDT.csv')
dataDOGEUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/DOGEUSDT/DOGEUSDT.csv')
dataDOTUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/DOTUSDT/DOTUSDT.csv')
dataENJUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/ENJUSDT/ENJUSDT.csv')
dataEOSUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/EOSUSDT/EOSUSDT.csv')
dataETCUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/ETCUSDT/ETCUSDT.csv')
dataETHUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/ETHUSDT/ETHUSDT.csv')
dataFILUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/FILUSDT/FILUSDT.csv')
dataGRTUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/GRTUSDT/GRTUSDT.csv')
dataHBARUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/HBARUSDT/HBARUSDT.csv')
dataICPUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/ICPUSDT/ICPUSDT.csv')
dataIOSTUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/IOSTUSDT/IOSTUSDT.csv')
dataIOTAUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/IOTAUSDT/IOTAUSDT.csv')
dataLINKUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/LINKUSDT/LINKUSDT.csv')
dataLTCUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/LTCUSDT/LTCUSDT.csv')
dataMANAUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/MANAUSDT/MANAUSDT.csv')
dataMATICUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/MATICUSDT/MATICUSDT.csv')
dataNEARUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/NEARUSDT/NEARUSDT.csv')
dataNEOUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/NEOUSDT/NEOUSDT.csv')
dataQTUMUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/QTUMUSDT/QTUMUSDT.csv')
dataRVNUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/RVNUSDT/RVNUSDT.csv')
dataSANDUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/SANDUSDT/SANDUSDT.csv')
dataSHIBUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/SHIBUSDT/SHIBUSDT.csv')
dataSOLUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/SOLUSDT/SOLUSDT.csv')
dataSTMXUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/STMXUSDT/STMXUSDT.csv')
dataSUSHIUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/SUSHIUSDT/SUSHIUSDT.csv')
dataTFUELUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/TFUELUSDT/TFUELUSDT.csv')
dataTHETAUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/THETAUSDT/THETAUSDT.csv')
dataTRXUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/TRXUSDT/TRXUSDT.csv')
dataUNIUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/UNIUSDT/UNIUSDT.csv')
dataVETUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/VETUSDT/VETUSDT.csv')
dataWAVESUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/WAVESUSDT/WAVESUSDT.csv')
dataXEMUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/XEMUSDT/XEMUSDT.csv')
dataXLMUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/XLMUSDT/XLMUSDT.csv')
dataXRPUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/XRPUSDT/XRPUSDT.csv')
dataXTZUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/XTZUSDT/XTZUSDT.csv')
dataZECUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/ZECUSDT/ZECUSDT.csv')
dataZILUSDT = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_project_01/ZILUSDT/ZILUSDT.csv')

In [4]:
# Add column crypto_id for each data
dataAAVEUSDT['crypto_id'] = 'AAVE'
dataADAUSDT['crypto_id'] = 'ADA'
dataALGOUSDT['crypto_id'] = 'ALGO'
dataATOMUSDT['crypto_id'] = 'ATOM'
datAVAXUSDT['crypto_id'] = 'AVAX'
dataBATUSDT['crypto_id'] = 'BAT'
dataBCHUSDT['crypto_id'] = 'BCH'
dataBNBUSDT['crypto_id'] = 'BNB'
dataBTCUSDT['crypto_id'] = 'BTC'
dataCAKEUSDT['crypto_id'] = 'CAKE'
dataCHZUSDT['crypto_id'] = 'CHZ'
dataCRVUSDT['crypto_id'] = 'CRV'
dataDASHUSDT['crypto_id'] = 'DASH'
dataDOGEUSDT['crypto_id'] = 'DOGE'
dataDOTUSDT['crypto_id'] = 'DOT'
dataENJUSDT['crypto_id'] = 'ENJ'
dataEOSUSDT['crypto_id'] = 'EOS'
dataETCUSDT['crypto_id'] = 'ETC'
dataETHUSDT['crypto_id'] = 'ETH'
dataFILUSDT['crypto_id'] = 'FIL'
dataGRTUSDT['crypto_id'] = 'GRT'
dataHBARUSDT['crypto_id'] = 'HBAR'
dataICPUSDT['crypto_id'] = 'ICP'
dataIOSTUSDT['crypto_id'] = 'IOST'
dataIOTAUSDT['crypto_id'] = 'IOTA'
dataLINKUSDT['crypto_id'] = 'LINK'
dataLTCUSDT['crypto_id'] = 'LTC'
dataMANAUSDT['crypto_id'] = 'MANA'
dataMATICUSDT['crypto_id'] = 'MATIC'
dataNEARUSDT['crypto_id'] = 'NEAR'
dataNEOUSDT['crypto_id'] = 'NEO'
dataQTUMUSDT['crypto_id'] = 'QTUM'
dataRVNUSDT['crypto_id'] = 'RVN'
dataSANDUSDT['crypto_id'] = 'SAND'
dataSHIBUSDT['crypto_id'] = 'SHIB'
dataSOLUSDT['crypto_id'] = 'SOL'
dataSTMXUSDT['crypto_id'] = 'STMX'
dataSUSHIUSDT['crypto_id'] = 'SUSHI'
dataTFUELUSDT['crypto_id'] = 'TFUEL'
dataTHETAUSDT['crypto_id'] = 'THETA'
dataTRXUSDT['crypto_id'] = 'TRX'
dataUNIUSDT['crypto_id'] = 'UNI'
dataVETUSDT['crypto_id'] = 'VET'
dataWAVESUSDT['crypto_id'] = 'WAVES'
dataXEMUSDT['crypto_id'] = 'XEM'
dataXLMUSDT['crypto_id'] = 'XLM'
dataXRPUSDT['crypto_id'] = 'XRP'
dataXTZUSDT['crypto_id'] = 'XTZ'
dataZECUSDT['crypto_id'] = 'ZEC'
dataZILUSDT['crypto_id'] = 'ZIL'

In [5]:
# Group all data into one dataframe
data_50 = pd.concat([dataAAVEUSDT, dataADAUSDT, dataALGOUSDT, dataATOMUSDT,
                  datAVAXUSDT, dataBATUSDT, dataBCHUSDT, dataBNBUSDT,
                  dataBTCUSDT, dataCAKEUSDT, dataCHZUSDT, dataCRVUSDT,
                  dataDASHUSDT, dataDOGEUSDT, dataDOTUSDT, dataENJUSDT,
                  dataEOSUSDT, dataETCUSDT, dataETHUSDT, dataFILUSDT,
                  dataGRTUSDT, dataHBARUSDT, dataICPUSDT, dataIOSTUSDT,
                  dataIOTAUSDT, dataLINKUSDT, dataLTCUSDT, dataMANAUSDT,
                  dataMATICUSDT, dataNEARUSDT, dataNEOUSDT, dataQTUMUSDT,
                  dataRVNUSDT, dataSANDUSDT, dataSHIBUSDT, dataSOLUSDT,
                  dataSTMXUSDT, dataSUSHIUSDT, dataTFUELUSDT, dataTHETAUSDT,
                  dataTRXUSDT, dataUNIUSDT, dataVETUSDT, dataWAVESUSDT,
                  dataXEMUSDT, dataXLMUSDT, dataXRPUSDT, dataXTZUSDT,
                  dataZECUSDT, dataZILUSDT], ignore_index=True)
data_50

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,crypto_id
0,2020-10-15 03:00:00,51.43000,59.00000,50.66600,55.60700,1369.481,2020-10-15 03:00:59.999,75607.779013,361,898.434,50012.700480,0,AAVE
1,2020-10-15 03:01:00,55.60300,55.62300,52.00000,52.84500,1120.278,2020-10-15 03:01:59.999,59696.689968,178,658.949,35330.288555,0,AAVE
2,2020-10-15 03:02:00,52.84500,52.84600,51.28300,51.99900,466.672,2020-10-15 03:02:59.999,24288.122840,94,185.675,9659.760008,0,AAVE
3,2020-10-15 03:03:00,51.99900,52.00000,50.66500,51.73600,205.109,2020-10-15 03:03:59.999,10594.203061,68,78.099,4043.744534,0,AAVE
4,2020-10-15 03:04:00,51.74200,51.77600,51.50000,51.63200,310.324,2020-10-15 03:04:59.999,16011.251406,44,174.396,9004.233218,0,AAVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142660482,2024-12-28 02:56:00,0.02129,0.02131,0.02129,0.02131,10637.300,2024-12-28 02:56:59.999000,226.483697,4,10637.300,226.483697,0,ZIL
142660483,2024-12-28 02:57:00,0.02131,0.02131,0.02131,0.02131,0.000,2024-12-28 02:57:59.999000,0.000000,0,0.000,0.000000,0,ZIL
142660484,2024-12-28 02:58:00,0.02129,0.02129,0.02127,0.02127,2271.500,2024-12-28 02:58:59.999000,48.322081,2,2271.500,48.322081,0,ZIL
142660485,2024-12-28 02:59:00,0.02127,0.02127,0.02127,0.02127,4895.200,2024-12-28 02:59:59.999000,104.120904,1,4895.200,104.120904,0,ZIL
142660486,2024-12-28 03:00:00,0.02127,0.02128,0.02126,0.02128,29547.200,2024-12-28 03:00:59.999000,628.467910,4,29045.700,617.806020,0,ZIL

In [6]:
# Show the first five rows.
data_50.head()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,crypto_id
0,2020-10-15 03:00:00,51.430,59.000,50.666,55.607,1369.481,2020-10-15 03:00:59.999,75607.779013,361,898.434,50012.700480,0,AAVE
1,2020-10-15 03:01:00,55.603,55.623,52.000,52.845,1120.278,2020-10-15 03:01:59.999,59696.689968,178,658.949,35330.288555,0,AAVE
2,2020-10-15 03:02:00,52.845,52.846,51.283,51.999,466.672,2020-10-15 03:02:59.999,24288.122840,94,185.675,9659.760008,0,AAVE
3,2020-10-15 03:03:00,51.999,52.000,50.665,51.736,205.109,2020-10-15 03:03:59.999,10594.203061,68,78.099,4043.744534,0,AAVE
4,2020-10-15 03:04:00,51.742,51.776,51.500,51.632,310.324,2020-10-15 03:04:59.999,16011.251406,44,174.396,9004.233218,0,AAVE

In [7]:
# Show the last five rows.
data_50.tail()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,crypto_id
142660482,2024-12-28 02:56:00,0.02129,0.02131,0.02129,0.02131,10637.3,2024-12-28 02:56:59.999000,226.483697,4,10637.3,226.483697,0,ZIL
142660483,2024-12-28 02:57:00,0.02131,0.02131,0.02131,0.02131,0.0,2024-12-28 02:57:59.999000,0.000000,0,0.0,0.000000,0,ZIL
142660484,2024-12-28 02:58:00,0.02129,0.02129,0.02127,0.02127,2271.5,2024-12-28 02:58:59.999000,48.322081,2,2271.5,48.322081,0,ZIL
142660485,2024-12-28 02:59:00,0.02127,0.02127,0.02127,0.02127,4895.2,2024-12-28 02:59:59.999000,104.120904,1,4895.2,104.120904,0,ZIL
142660486,2024-12-28 03:00:00,0.02127,0.02128,0.02126,0.02128,29547.2,2024-12-28 03:00:59.999000,628.467910,4,29045.7,617.806020,0,ZIL

In [8]:
# Identify incomplete rows
data_50.count()

timestamp                       142660487
open                            142660487
high                            142660487
low                             142660487
close                           142660487
volume                          142660487
close_time                      142660487
quote_asset_volume              142660487
number_of_trades                142660487
taker_buy_base_asset_volume     142660487
taker_buy_quote_asset_volume    142660487
ignore                          142660487
crypto_id                       142660487
dtype: int64

In [23]:
# Get the information of the data
data_50.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142660487 entries, 0 to 142660486
Data columns (total 13 columns):
 #   Column                        Dtype
---  ------                        -----
 0   timestamp                     object
 1   open                          float64
 2   high                          float64
 3   low                           float64
 4   close                         float64
 5   volume                        float64
 6   close_time                    object
 7   quote_asset_volume            float64
 8   number_of_trades              int64
 9   taker_buy_base_asset_volume   float64
 10  taker_buy_quote_asset_volume  float64
 11  ignore                        int64
 12  crypto_id                     object
dtypes: float64(8), int64(2), object(3)
memory usage: 13.8+ GB

In [24]:
# find shape of the data (rows, columns)
data_50.shape

(142660487, 13)

In [25]:
# Collect a list of all columns within the DataFrame
data_50.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time',
       'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume',
       'taker_buy_quote_asset_volume', 'ignore', 'crypto_id'],
      dtype='object')

In [26]:
# Check for na values
data_50.isna().sum()

timestamp                       0
open                            0
high                            0
low                             0
close                           0
volume                          0
close_time                      0
quote_asset_volume              0
number_of_trades                0
taker_buy_base_asset_volume     0
taker_buy_quote_asset_volume    0
ignore                          0
crypto_id                       0
dtype: int64

In [27]:
# Get the data types of each column.
data_50.dtypes

timestamp                        object
open                            float64
high                            float64
low                             float64
close                           float64
volume                          float64
close_time                       object
quote_asset_volume              float64
number_of_trades                  int64
taker_buy_base_asset_volume     float64
taker_buy_quote_asset_volume    float64
ignore                            int64
crypto_id                        object
dtype: object

In [9]:
# change timestamp to datetime
data_50['timestamp'] = pd.to_datetime(data_50['timestamp'])
data_50.dtypes

timestamp                       datetime64[ns]
open                                   float64
high                                   float64
low                                    float64
close                                  float64
volume                                 float64
close_time                              object
quote_asset_volume                     float64
number_of_trades                         int64
taker_buy_base_asset_volume            float64
taker_buy_quote_asset_volume           float64
ignore                                   int64
crypto_id                               object
dtype: object

In [10]:
# Get the list of year in the column 'dates'getattr
data_50['timestamp'].dt.year
data_50['timestamp'].dt.year.unique()

# Get list in order
years = data_50['timestamp'].dt.year.unique()
years.sort()
years

array([2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024], dtype=int32)

In [11]:
# Drop column 'ignore'
data_50 = data_50.drop(columns=['ignore'])

data_50.head()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,crypto_id
0,2020-10-15 03:00:00,51.430,59.000,50.666,55.607,1369.481,2020-10-15 03:00:59.999,75607.779013,361,898.434,50012.700480,AAVE
1,2020-10-15 03:01:00,55.603,55.623,52.000,52.845,1120.278,2020-10-15 03:01:59.999,59696.689968,178,658.949,35330.288555,AAVE
2,2020-10-15 03:02:00,52.845,52.846,51.283,51.999,466.672,2020-10-15 03:02:59.999,24288.122840,94,185.675,9659.760008,AAVE
3,2020-10-15 03:03:00,51.999,52.000,50.665,51.736,205.109,2020-10-15 03:03:59.999,10594.203061,68,78.099,4043.744534,AAVE
4,2020-10-15 03:04:00,51.742,51.776,51.500,51.632,310.324,2020-10-15 03:04:59.999,16011.251406,44,174.396,9004.233218,AAVE

In [12]:
# Rearenge the columns
data_50 = data_50[['crypto_id', 'timestamp', 'open', 'close', 'high', 'low',
                   'volume', 'close_time', 'quote_asset_volume', 'number_of_trades',
                   'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume']]
data_50.head()

,crypto_id,timestamp,open,close,high,low,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,AAVE,2020-10-15 03:00:00,51.430,55.607,59.000,50.666,1369.481,2020-10-15 03:00:59.999,75607.779013,361,898.434,50012.700480
1,AAVE,2020-10-15 03:01:00,55.603,52.845,55.623,52.000,1120.278,2020-10-15 03:01:59.999,59696.689968,178,658.949,35330.288555
2,AAVE,2020-10-15 03:02:00,52.845,51.999,52.846,51.283,466.672,2020-10-15 03:02:59.999,24288.122840,94,185.675,9659.760008
3,AAVE,2020-10-15 03:03:00,51.999,51.736,52.000,50.665,205.109,2020-10-15 03:03:59.999,10594.203061,68,78.099,4043.744534
4,AAVE,2020-10-15 03:04:00,51.742,51.632,51.776,51.500,310.324,2020-10-15 03:04:59.999,16011.251406,44,174.396,9004.233218

In [20]:
data_50_day = preprocess_data_day(data_50)
data_50_day.head()

,timestamp,crypto_id,open,close,high,low,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,2017-08-17,BTC,4261.48,4285.08,4485.39,4200.74,795.150377,3.454770e+06,3427,616.248541,2.678216e+06
1,2017-08-17,ETH,301.13,302.00,312.18,298.00,7030.710340,2.154655e+06,4522,6224.589990,1.908705e+06
2,2017-08-18,BTC,4285.08,4108.37,4371.52,3938.77,1199.888264,5.086958e+06,5233,972.868710,4.129123e+06
3,2017-08-18,ETH,302.00,293.96,311.79,283.94,9537.846460,2.858947e+06,5658,7452.435420,2.240813e+06
4,2017-08-19,BTC,4108.37,4139.98,4184.69,3850.00,381.309763,1.549484e+06,2153,274.336042,1.118002e+06

In [22]:
# Export the data by day to a csv file /Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_exported
data_50_day.to_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_exported/data_50_day.csv', index=False)

In [13]:
# data_50 is too havy, so I will separete it by years first, so that I can apply the  function to group by day
# Separate data by year
data_50_2017 = data_50[data_50['timestamp'].dt.year == 2017]
data_50_2018 = data_50[data_50['timestamp'].dt.year == 2018]
data_50_2019 = data_50[data_50['timestamp'].dt.year == 2019]
data_50_2020 = data_50[data_50['timestamp'].dt.year == 2020]
data_50_2021 = data_50[data_50['timestamp'].dt.year == 2021]
data_50_2022 = data_50[data_50['timestamp'].dt.year == 2022]
data_50_2023 = data_50[data_50['timestamp'].dt.year == 2023]
data_50_2024 = data_50[data_50['timestamp'].dt.year == 2024]

In [38]:
'''
def preprocess_data_day(data):
    # Convert timestamp to datetime
    data['timestamp'] = pd.to_datetime(data['timestamp'])

    # Group by day
    data = data.groupby([data['timestamp'].dt.date, 'crypto_id']).agg({
        'open': 'first', 
        'close': 'last', 
        'high': 'max', 
        'low': 'min', 
        'volume': 'sum', 
        'quote_asset_volume': 'sum', 
        'number_of_trades': 'sum', 
        'taker_buy_base_asset_volume': 'sum', 
        'taker_buy_quote_asset_volume': 'sum'
    }).reset_index()

    return data
'''

In [17]:
# Apply the function to each year
data_50_2017 = preprocess_data_day(data_50_2017)
data_50_2017.head()

/var/folders/ts/mzxn_zz146jfqn27w1_43xz40000gn/T/ipykernel_41290/3054484963.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['timestamp'] = pd.to_datetime(data['timestamp'])

,timestamp,crypto_id,open,close,high,low,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,2017-08-17,BTC,4261.48,4285.08,4485.39,4200.74,795.150377,3.454770e+06,3427,616.248541,2.678216e+06
1,2017-08-17,ETH,301.13,302.00,312.18,298.00,7030.710340,2.154655e+06,4522,6224.589990,1.908705e+06
2,2017-08-18,BTC,4285.08,4108.37,4371.52,3938.77,1199.888264,5.086958e+06,5233,972.868710,4.129123e+06
3,2017-08-18,ETH,302.00,293.96,311.79,283.94,9537.846460,2.858947e+06,5658,7452.435420,2.240813e+06
4,2017-08-19,BTC,4108.37,4139.98,4184.69,3850.00,381.309763,1.549484e+06,2153,274.336042,1.118002e+06

In [18]:
data_50_2018 = preprocess_data_day(data_50_2018)
data_50_2019 = preprocess_data_day(data_50_2019)
data_50_2020 = preprocess_data_day(data_50_2020)
data_50_2021 = preprocess_data_day(data_50_2021)
data_50_2022 = preprocess_data_day(data_50_2022)
data_50_2023 = preprocess_data_day(data_50_2023)
data_50_2024 = preprocess_data_day(data_50_2024)

/var/folders/ts/mzxn_zz146jfqn27w1_43xz40000gn/T/ipykernel_41290/3054484963.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['timestamp'] = pd.to_datetime(data['timestamp'])
/var/folders/ts/mzxn_zz146jfqn27w1_43xz40000gn/T/ipykernel_41290/3054484963.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['timestamp'] = pd.to_datetime(data['timestamp'])
/var/folders/ts/mzxn_zz146jfqn27w1_43xz40000gn/T/ipykernel_41290/3054484963.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['timestamp'] = pd.to_datetime(data['timestamp'])
/var/folders/ts/mzxn_zz146jfqn27w1_43xz40000gn/T/ipykernel_41290/3054484963.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['timestamp'] = pd.to_datetime(data['timestamp'])
/var/folders/ts/mzxn_zz146jfqn27w1_43xz40000gn/T/ipykernel_41290/3054484963.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['timestamp'] = pd.to_datetime(data['timestamp'])
/var/folders/ts/mzxn_zz146jfqn27w1_43xz40000gn/T/ipykernel_41290/3054484963.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['timestamp'] = pd.to_datetime(data['timestamp'])
/var/folders/ts/mzxn_zz146jfqn27w1_43xz40000gn/T/ipykernel_41290/3054484963.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['timestamp'] = pd.to_datetime(data['timestamp'])

In [19]:
# Group all data into one to a new dataframe
dt_50 = pd.concat([data_50_2017, data_50_2018, data_50_2019, data_50_2020,
                  data_50_2021, data_50_2022, data_50_2023, data_50_2024], ignore_index=True)

In [21]:
dt_50

,timestamp,crypto_id,open,close,high,low,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,2017-08-17,BTC,4261.48000,4285.08000,4485.39000,4200.74000,7.951504e+02,3.454770e+06,3427,6.162485e+02,2.678216e+06
1,2017-08-17,ETH,301.13000,302.00000,312.18000,298.00000,7.030710e+03,2.154655e+06,4522,6.224590e+03,1.908705e+06
2,2017-08-18,BTC,4285.08000,4108.37000,4371.52000,3938.77000,1.199888e+03,5.086958e+06,5233,9.728687e+02,4.129123e+06
3,2017-08-18,ETH,302.00000,293.96000,311.79000,283.94000,9.537846e+03,2.858947e+06,5658,7.452435e+03,2.240813e+06
4,2017-08-19,BTC,4108.37000,4139.98000,4184.69000,3850.00000,3.813098e+02,1.549484e+06,2153,2.743360e+02,1.118002e+06
...,...,...,...,...,...,...,...,...,...,...,...
99250,2024-12-28,XLM,0.34990,0.34610,0.35110,0.34610,1.050560e+07,3.667653e+06,10592,3.889979e+06,1.359598e+06
99251,2024-12-28,XRP,2.14670,2.14200,2.15820,2.13430,1.438313e+07,3.088660e+07,74543,6.249458e+06,1.342425e+07
99252,2024-12-28,XTZ,1.34300,1.34600,1.35500,1.32800,6.916420e+05,9.285860e+05,3524,3.620972e+05,4.861648e+05
99253,2024-12-28,ZEC,62.13000,61.85000,62.47000,61.55000,1.127272e+04,6.989993e+05,5190,4.280262e+03,2.656032e+05
99254,2024-12-28,ZIL,0.02108,0.02128,0.02146,0.02097,2.592660e+07,5.508911e+05,2398,1.214132e+07,2.582827e+05

In [54]:
def preprocess_data(data):
	# reset index to keep crypto_id
	data.reset_index(inplace=True)

	# group by date and get the mean of the other columns
	data = data.groupby(['date', 'crypto_id']).agg({
		'open': 'first',                        # get the first value of the day
		'high': 'max',                          # get the amount higher value of the day
		'low': 'min',                           # get the amount lower value of the day
		'close': 'last',                        # get the last value of the day
		'volume': 'sum',                        # get the sum of the volume of the day
		'quote_asset_volume': 'sum',            # get the sum of the quote_asset_volume of the day
		'number_of_trades': 'sum',              # get the sum of the number_of_trades of the day
		'taker_buy_base_asset_volume': 'sum',   # get the sum of the taker_buy_base_asset_volume of the day 
		'taker_buy_quote_asset_volume': 'sum'   # get the sum of the taker_buy_quote_asset_volume of the day
	}).reset_index()

	# Reorganize the columns
	data = data[['crypto_id', 'date', 'open', 'high', 
				 'low', 'close', 'volume', 'quote_asset_volume', 
				 'number_of_trades', 'taker_buy_base_asset_volume',
				 'taker_buy_quote_asset_volume']]
	
	return data


data.head(20)

,crypto_id,date,open,high,low,close,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,BTC,2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,3.454770e+06,3427,616.248541,2.678216e+06
1,ETH,2017-08-17,301.13,312.18,298.00,302.00,7030.710340,2.154655e+06,4522,6224.589990,1.908705e+06
2,BTC,2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,5.086958e+06,5233,972.868710,4.129123e+06
3,ETH,2017-08-18,302.00,311.79,283.94,293.96,9537.846460,2.858947e+06,5658,7452.435420,2.240813e+06
4,BTC,2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,1.549484e+06,2153,274.336042,1.118002e+06
5,ETH,2017-08-19,293.96,299.90,278.00,290.91,2146.197730,6.200226e+05,1795,1537.975500,4.447136e+05
6,BTC,2017-08-20,4139.98,4211.08,4032.62,4086.29,467.083022,1.930364e+06,2321,376.795947,1.557401e+06
7,ETH,2017-08-20,290.91,300.53,282.85,299.10,2510.138710,7.428479e+05,2038,2186.687390,6.475061e+05
8,BTC,2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,2.797232e+06,3972,557.356107,2.255663e+06
9,ETH,2017-08-21,299.10,346.52,294.60,323.29,5219.445420,1.689472e+06,3925,4004.199670,1.297977e+06
10,BTC,2017-08-22,4016.00,4104.82,3400.00,4040.00,966.684858,3.752506e+06,6494,423.995181,1.637188e+06
11,ETH,2017-08-22,323.29,330.41,144.21,309.80,7956.350880,2.454426e+06,6577,4433.781320,1.364472e+06
12,BTC,2017-08-23,4040.00,4265.80,4013.89,4114.01,1001.136565,4.148686e+06,8629,309.419092,1.293567e+06
13,ETH,2017-08-23,312.25,324.99,309.41,315.74,8665.725690,2.753465e+06,8540,2282.236330,7.282069e+05
14,BTC,2017-08-24,4147.00,4371.68,4085.01,4316.01,787.418753,3.296476e+06,6247,206.820412,8.683791e+05
15,ETH,2017-08-24,315.74,328.04,314.01,323.42,6753.271920,2.159417e+06,6495,1901.900290,6.109291e+05
16,BTC,2017-08-25,4316.01,4453.91,4247.48,4280.68,573.612740,2.484637e+06,6554,100.097974,4.345771e+05
17,ETH,2017-08-25,323.42,338.28,323.42,327.24,7125.969620,2.354162e+06,7452,2595.825610,8.593147e+05
18,BTC,2017-08-26,4280.68,4367.00,4212.41,4337.44,228.108068,9.778657e+05,2260,56.190141,2.413638e+05
19,ETH,2017-08-26,327.24,335.44,323.41,330.79,4877.685210,1.601994e+06,4400,941.996550,3.111323e+05